/* Custom Properties */
:root {
    --ff-lato: 'Lato', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-dark: #1f1f1f;
    --clr-grey: #666666;
    --clr-light: #ffffff;
    --clr-accent: #448ee5;
    --fs-body: 1.175rem;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    font-family: var(--ff-lato);
    color: var(--clr-light);
    background: var(--clr-dark);
}