html {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #dadada;
  background: radial-gradient(circle at center,#eeeeee, #a07dff, #6d38ff, #4d2fa1, #3f3f3f);
  height: 100%;
}

.screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.flex-container {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #00000062;
  border-radius: 6px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 90vh;
  margin: 0.5vh;
  border: 3px solid #c5c5c5b2;
  background-color: #5c5c5c7c;
  box-shadow: 4px 4px #363636;
  z-index: 2;
}

.header {
  min-height: 12vh;
  max-height: 15vh;
  font-size: 2vw;
  text-shadow: 2px 2px #363636;
  margin-top: 1vh;
  border-radius: 5px 5px 0 0;
}

.options {
  min-height: 25vh;
  max-height: 60vh;
  z-index: 3;
}

.option-button {
  cursor: pointer;
  height: 7.5vh;
  width: 35%;
  font-family: 'Roboto', sans-serif;
  text-decoration-line: none;
  font-size: 2vw;
  margin: 3.8vh;
  border-color:#000000;
  background-color:#00000081;
  color: #f0f0f0;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  text-shadow: 2px 2px #363636;
  box-shadow: 2px 2px #363636;
  z-index: 5;
}  

.option-button:hover {
  background-color:#402d5f;
  color:#E0E1DD;
  cursor: pointer;
  box-shadow: 2px 2px #363636;
}

.option-button:active {
  transition-duration: 0s;
  background-color: #4b4177;
  box-shadow: 2px 2px #666;
  transform: translateY(2px);
}

/* gets rid of weird white box around input */
*:focus {
  outline: none;
}

.footer {
  min-height: 5vh;
  max-height: 8vh;
  font-size: 1.5vw;
  margin-bottom: 1vh;
  border-radius: 0 0 5px 5px;
  text-shadow: 2px 2px #363636;
}

@media only screen and (max-width: 540px){
	.flex-container {
    width: 95vw;
  }

  .header {
    font-size: 3.25vw;
  }

  .option-button {
    font-size: 4.25vw;
    margin: 2.8vh;
  }
  
  .footer {
    font-size: 3.2vw;
  }
}

@media only screen and (min-width: 540px) and (max-width: 700px){
	.flex-container {
    width: 87.5vw;
  }

  .header {
    font-size: 3vw;
  }

  .option-button {
    font-size: 3.75vw;
    margin: 3vh;
  }

  .footer {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 700px) and (max-width: 900px){
  .flex-container {
    width: 80vw;
  }
  .header {
    font-size: 2.6vw;
  }

  .option-button {
    font-size: 3.3vw;
  }

  .footer {
    font-size: 2.6vw;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
  .flex-container {
    width: 62.5vw;
  }
  .header {
    font-size: 2.35vw;
  }

  .option-button {
    font-size: 2.8vw;
  }

  .footer {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1200px){
  .flex-container {
    width: 55vw;
  }
  .header {
    font-size: 2.1vw;
  }

  .option-button {
    font-size: 2.3vw;
  }
  
  .footer {
    font-size: 1.8vw;
  }
}