/* Plans:
 - add flex box to elements
 - make it so the direction is columns so the elements stay stacked
 - have header be a flex box of its own so I can use image and login title as two different items in it
 - make the box row oriented and have the image align left while the login is centered
*/


html {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: radial-gradient(circle at center,#eeeeee, #6d38ff, #5f5f5f);
  height: 100%;
}

#logo {
    padding-right: 40%;
    padding-top: 5px;
    padding-bottom: -2px;
    padding-left: 5px;
    height: 60px;
    width: 48px;
}

.container {
  margin: 50px auto;
  width: 640px;
}

.login-box {
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px 20px 20px;
  width: 720px;
  height: 480px;
}

.login-box::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: #00000062;
  border-radius: 4px;
}
 
.header {
  margin: -20px -20px 66px;
  line-height: 100px;
  font-size: 40px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px #bbbbbb;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px #f5f5f5;
  box-shadow: 0 1px #8d8d8d;
}
 
#input-label {
    margin: 25px 50px 40px 90px;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffffce;
    border-bottom: 2px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #00000081;
    border-left: 1px solid #00000081;
    background-color: #9b9b9b50;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
}

#user-input {
    margin: 25px 50px 0px 85px;
    width: 300px;
    height: 65px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-color:#000000;
    color: #E0E1DD;
    background-color: #9b9b9b50;
    border-radius: 0.45em 0.45em 0.45em 0.45em;
}  

#user-input:hover {
  box-shadow: 1.3px 1.3px 1.3px 1.3px #413d4e9f;
}

#user-input:active {
  transition-duration: 0s;
  background-color: #4b4177;
  box-shadow: 2px 2px #666;
}

/* gets rid of weird white box around input */
*:focus {
    outline: none;
}

#submit-button {
    position: relative;
    margin: 15px 50px 20px 115px;
    height: 44px;
    width: 20%;
    font-family: 'Roboto', sans-serif;
    border-color:#000000;
    background-color:#35254481;
    color: #E0E1DD;
    border-radius: 1em 1em 1em 1em;
}  

#submit-button:hover {
  background-color:#402d5f;
  color:#E0E1DD;
  cursor: pointer;
  box-shadow: 2px 2px #5f5d64d7;
}

#submit-button:active {
  transition-duration: 0s;
  background-color: #4b4177;
  box-shadow: 2px 2px #666;
  transform: translateY(2px);
}

.footer {
  margin: 20px 0;
  font-size: 11px;
  color: #e9e8e8;
  text-align: center;
  text-shadow: 0 1px #2e2e2e;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 20px;
  padding: 10px 5px;
}