/* Custom Properties */
:root {
    --ff-lato: 'Lato', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-dark: #1f1f1f;
    --clr-grey: #666666;
    --clr-light: #ffffff;
    --clr-accent: #448ee5;
    --clr-gold: #aca063;
    --fs-body: 1.15rem;
    --fs-h1: 2.5rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-lato);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    color: var(--clr-light);
    background: var(--clr-dark);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.chat-area {
    width: 80%;
}

.online-users-box {
    width: 20%;
    border-left: 2px solid var(--clr-light);
}

.chat-area-header {
    width: calc(100% - 30px);
    padding: 10px 15px;
    border-bottom: 2px solid var(--clr-light);
}

#username-header {
    font-size: var(--fs-h1);
    margin: 0;
    margin-bottom: 5px;
}

#user-points {
    font-size: var(--fs-h3);
    margin: 0 0 15px 0;
    margin-bottom: 5px;
}

#online-status {
    font-size: var(--fs-h2);
    margin-bottom: 5px;
}

#chat-rooms {
    height: calc(100% - 110px - 58px);
}

.chat-room {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: none;
}

#public-room {
    display: block;
}

.message-list {
    list-style: none;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
}

.message-block {
    margin: 10px 0;
}

.message {
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    max-width: 75%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.sent-message {
    background-color: var(--clr-accent);
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.received-message {
    background-color: var(--clr-grey);
}

.received-message-username {
    font-size: var(--fs-h3);
    color: var(--clr-grey);
    margin-bottom: 5px;
}

.typing-area {
    position: fixed;
    top: 100%;
    width: calc(80% - 22px);
    transform: translateY(-100%);
    padding: 10px;
    border-top: 2px solid var(--clr-light);
    background-color: var(--clr-dark);
}

#message-input {
    color: var(--clr-light);
    width: calc(100% - 80px);
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--clr-light);
    resize: none;
}

.send-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    margin: 10px;
    padding: 5px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    border: none;
    border-radius: 8px;
    outline: none;
}

.send-btn:hover {
  background-color:#402d5f;
  cursor: pointer;
  color: #ffffffed;
  box-shadow: 2px 2px #222222;
}

.send-btn:active {
  transition-duration: 0s;
  background-color: #4b4177;
  color: #ffffffed;
  box-shadow: 2px 2px #222222;
  transform: translateY(2px);
}

.online-users-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108px;
    border-bottom: 2px solid var(--clr-light);
}

.online-users-title {
    font-size: var(--fs-h1);
    text-align: center;
    margin: 0;
}

#online-users {
    height: calc(100% - 110px);
    overflow-y: auto;
    padding: 0 10px;
}

#online-users-list {
    list-style: none;
    box-sizing: border-box;
}

.online-user-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border: 2px solid var(--clr-grey);
    border-radius: 8px;
    transition: 400ms;
}

.online-user-block:hover {
    background-color: rgba(102, 102, 102, 0.25);
    cursor: pointer;
}

.online-user {
    display: inline-block;
    color: var(--clr-grey);
    padding: 8px;
    max-width: calc(100% - 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification {
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--clr-light);
    background-color: var(--clr-accent);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 0.9rem;
    margin: 0 5px;
    display: none;
}

.current-room-list {
    border: 2px solid var(--clr-light);
}

.current-room-list .online-user {
    color: var(--clr-light);
    transition: 400ms;
}

.trivia-message {
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    max-width: 75%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    background-color: var(--clr-gold);
}

.trivia-question,
.trivia-category-poll {
    display: inline-block;
    padding: 8px;
    padding-bottom: 12px;
    border-radius: 8px;
    max-width: 75%;
    background-color: var(--clr-gold);
}

.trivia-category-poll {
    width: 300px;
}

.trivia-question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--clr-light);
}

.trivia-question-header h2 {
    font-size: var(--fs-h2);
}

.trivia-question-header h3 {
    font-size: var(--fs-h3);
}

.trivia-question-txt {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin-top: 8px;
}

.trivia-answer {
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 12px;
    max-width: 100%;
}

.trivia-answer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    margin: 0 8px;
    color: var(--clr-light);
    border: 2px solid var(--clr-light);
    border-radius: 50%;
    background: transparent;
    outline: none;
    transition: 400ms;
}

.trivia-answer:hover {
    cursor: pointer;
}

.trivia-answer:hover .trivia-answer-btn {
    color: var(--clr-gold);
    background-color: var(--clr-light);
    cursor: pointer;
}

.under-anim:hover, .under-anim:hover:after,
.trivia-answer:hover .under-anim, .trivia-answer:hover .under-anim:after {
    right: 0;
    cursor: pointer;
}

.under-anim {
    position: relative;
}

.under-anim:after {
    content: "";
    position: absolute;
    right: 100%;
    bottom: .01rem;
    left: 0;
    border-radius: 1rem;
    transition: right 400ms cubic-bezier(0, .5, 0, 1);
    border-top: .125rem solid var(--clr-light);
}

.trivia-leaderboard {
    display: inline-block;
    padding: 8px;
    padding-bottom: 12px;
    border-radius: 8px;
    width: max-content;
    max-width: 75%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    background-color: var(--clr-gold);
}

.leaderboard-header {
    border-bottom: 2px solid var(--clr-light);
    padding-bottom: 8px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-align: center;
}

.leaderboard-user {
    font-size: var(--fs-h3);
    margin-top: 8px;
    letter-spacing: 0.5px;
}

#hamburger-toggle {
    display: none;
}

@media (max-width: 800px), (orientation: portrait) {
    .chat-area {
        width: 100%;
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    }

    .online-users-box {
        position: fixed;
        width: 80vw;
        height: calc(100% - 2px);
        border: none;
        border-right: 2px solid var(--clr-light);
        transform: translateX(-100%);
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    }

    .chat-area-header {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }

    .typing-area {
        width: calc(100vw - 15px);
    }

    #hamburger-toggle {
        display: block;
        background: transparent;
        padding-right: 20px;
        border: 0;
        outline: none;
        z-index: 10;
    }

    #hamburger {
        display: block;
        position: relative;
    }

    #hamburger,
    #hamburger::before,
    #hamburger::after {
        background: var(--clr-light);
        width: 2em;
        height: 4px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }

    #hamburger::before,
    #hamburger::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        transition: 250ms;
    }

    #hamburger::before { top: 8px; }
    #hamburger::after { bottom: 8px; }

    /* Toggle Animation */
    .hamburger-open .chat-area {
        transform: translateX(80%);
    }

    .hamburger-open .online-users-box {
        transform: translateX(0);
    }

    .hamburger-open .chat-area-header {
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    }

    .hamburger-open .words-header,
    .hamburger-open #chat-rooms,
    .hamburger-open .typing-area {
        filter: blur(3px);
    }

    .hamburger-open #hamburger {
        transform: rotate(225deg);
    }

    .hamburger-open #hamburger::before {
        transform: rotate(90deg) translateX(-8px);
    }

    .hamburger-open #hamburger::after {
        opacity: 0;
    }
}

@media (max-width: 450px) {
    .trivia-question-header {
        flex-direction: column;
        align-items: flex-start;
    }
}