html {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: radial-gradient(circle at center,#eeeeee, #6d38ff, #5f5f5f);
}

#logo {
    height: 60px;
    width: 48px;
}

.container {
  margin: 50px auto;
  width: 640px;
}

.login-box {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 720px;
  height: 480px;
}

.login-box::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: #00000026;
  border-radius: 4px;
}
 
.login-box h1 {
  margin: -20px -20px 66px;
  line-height: 100px;
  font-size: 40px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px #bbbbbb;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px #f5f5f5;
  box-shadow: 0 1px #8d8d8d;
}
 
#input-label {
    margin: 25px 50px 40px 85px;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    border-bottom: 2px solid #000000;
    border-right: 1px solid #000000;;
    background-color: #a8a8a8a2;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    
}

#username-input {
    margin: 25px 50px 25px 85px;
    width: 300px;
    height: 65px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-color:#000000;
    color: #E0E1DD;
    background-color: #58585898;
    border-radius: 0.45em 0.45em 0.45em 0.45em;
}  

#username-input:hover {
  box-shadow: 1.3px 1.3px 1.3px 1.3px #413d4e9f;
}

/* gets rid of weird white box around input */
*:focus {
    outline: none;
}

#submit-button {
    margin: 15px 50px 25px 85px;
    height: 46px;
    width: 22%;
    font-family: 'Roboto', sans-serif;
    border-color:#000000;
    background-color:#25334498;
    color: #E0E1DD;
    border-radius: 1em 1em 1em 1em;
}  

#submit-button:hover {
  background-color:#2d445f;
  color:#E0E1DD;
  cursor: pointer;
  box-shadow: 2px 2px #5f5d64d7;
}

#submit-button:active {
  transition-duration: 0s;
  background-color: #415A77;
  box-shadow: 2px 2px #666;
  transform: translateY(2px);
}
 
.footer {
  margin: 20px 0;
  font-size: 11px;
  color: rgb(233, 232, 232);
  text-align: center;
  text-shadow: 0 1px #2e2e2e;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 20px;
  padding: 10px 5px;
}